<!-- Header
    ================================================== -->
<header>
	<a class="hide-menu" href="#">
		<i class="fa fa-long-arrow-left"></i>
	</a>

	<div class="logo-box">
		<a class="logo" href="/"><img src="/images/m.png" alt="M"/></a>
	</div>
	
	<a class="elemadded responsive-link" href="#">Menu</a>

	<div class="menu-box">
		<ul class="menu">
			<li><a href="/"><span>Home</span></a></li>
			<li class="drop"><a href="/articles/"><span>My Work</span></a>
				<ul class="dropdown">
					<li><a href="/articles/">Articles</a></li>
					<li><a href="/photos/">Photos</a></li>
				</ul>
			</li>
			<li><a href="/about/"><span>About me</span></a></li>
		</ul>				
	</div>
	<div class="header-foot">
		<div class="social-box">
			<ul class="social-icons">
				<li><a href="https://github.com/amaurer" class="github-a" ><i class="fa fa-github"></i></a></li>
				<li><a href="http://www.linkedin.com/pub/andrew-maurer/b/41b/1a6" class="linkedin" ><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://www.facebook.com/andrew.maurer.50" class="facebook" ><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/maurerdotme" class="twitter" ><i class="fa fa-twitter"></i></a></li>
			</ul>
		</div>

		<div class="copyright-box">
			<p><a href="" title="email Andrew Maurer (maurerdotme) in Cleveland">Andrew Maurer 2014</a></p>
			<p>All rights reserved</p>
		</div>
	</div>

	<a class="show-menu" href="#">
		<i class="fa fa-bars"></i>
	</a>

</header>
<!-- End Header -->