
<li><a href="https://github.com/amaurer" class="github-a" ><i class="fa fa-github"></i></a></li>
<li><a href="http://www.linkedin.com/pub/andrew-maurer/b/41b/1a6" class="linkedin" ><i class="fa fa-linkedin"></i></a></li>
<li><a href="https://www.facebook.com/andrew.maurer.50" class="facebook" ><i class="fa fa-facebook"></i></a></li>
<li><a href="https://twitter.com/maurerdotme" class="twitter" ><i class="fa fa-twitter"></i></a></li>
<li><a href="https://www.elance.com/s/atmaurer/" class="" ><i class="fa fa-users"></i></a></li>