
<div id="content">
	<div class="inner-content">
		<div class="error-page">
			<div class="container">
				<span><i class="fa fa-chain-broken"></i></span>
				<p>OH NOES!! Something went wrong, <br> this page does not exist</p>
				<h1>404 ERROR</h1>
				<a href="javascript:window.history.back();">Go Back</a>
			</div>
		</div>
	</div>
</div>