
<div id="content">
	<div class="inner-content">
		<div class="about-page">
			<div class="container" itemscope itemtype="http://schema.org/Person">
				<div class="row">

					<div class="col-md-6">
						<div class="profile-section">
							<div class="profile-section-content">
								<h2>About Me</h2>
								<h3 itemprop="name">My name is Andrew Maurer</h3>
								<span itemprop="jobTitle">I am a Sr. Web Developer</span>
								<div class="print-section">
									<span>Print or Download my CV</span>
									<a href="#"><i class="fa fa-print"></i></a>
									<a href="#"><i class="fa fa-download"></i></a>
								</div>
								<div class="member-social">
									<span>Connect with me</span>
									<ul class="social-list">
										{{> social-list}}
									</ul>
								</div>
							</div>
							<div class="my-photo-profile">
								<img itemprop="image" alt="Andrew Maurer (maurerdotme)" src="/images/AMaurerFinal2.jpg">
							</div>
						</div>

						<div class="skills-section">
							<h2>MY FOCUS</h2>
							<p itemprop="description">I spend most of my time writing JavaScript. Either on the client or in Node.js. I trade performance for readability, simplicity above complexity and convention over configuration.</p>

							<div class="meter nostrips">
								<p>JavaScript <span>95%</span></p>
								<span style="width: 95%"></span>
							</div>
							
							<div class="meter nostrips">
								<p>ColdFusion <span>90%</span></p>
								<span style="width: 90%"></span>
							</div>
							
							<div class="meter nostrips">
								<p>Node.js <span>83%</span></p>
								<span style="width: 83%"></span>
							</div>
							
							<div class="meter nostrips">
								<p>Backbone.js <span>71%</span></p>
								<span style="width: 71%"></span>
							</div>
							
							<div class="meter nostrips plugins">
								<p>Bootstrap <span>69%</span></p>
								<span style="width: 69%"></span>
							</div>
							
							<div class="meter nostrips">
								<p>HTML5 <span>60%</span></p>
								<span style="width: 60%"></span>
							</div>
							
							<div class="meter nostrips">
								<p>Css <span>50%</span></p>
								<span style="width: 50%"></span>
							</div>
							
							<div class="meter nostrips">
								<p>SQL <span>50%</span></p>
								<span style="width: 50%"></span>
							</div>
						</div>

					</div>

					<div class="col-md-6">

						<div class="about-me">
							<h2>MY PERSONAL LIFE</h2>
							<p itemprop="description">While I do code a lot in my personal time, I have other hobbies that keep me busy. First is my dog <a href="/">Tobi</a>. He is a 19 month old, 13 lb. Italian Greyhound that is full of energy and friends with everyone he meets.</p>
							<p>I recently earned my <a href="/">pilot license</a> that took a lot of hard work and time to get. It isn't something that I can ever stop studying which is much like programming. Something that is always changing and that you need to keep your skills sharp in. My adventures can be found <a href="/">here</a>.

							<p itemprop="description">Other things that I've done in the past are <a href="/">photography</a>, scuba-diving (sorry no photos) and collecting old books.</p>
						</div>

						<div class="certification-section" itemprop="awards">
							<h2>Certifications</h2>
							<p>
							Advanced ColdFusion 8 <br/>
							Comptia A+ <br/>
							Comptia Network+ <br/>
							Cypress College - Network Administration <br/>
							Cypress College - Network Security <br/>
							Cypress College - Cisco CCNA Certification (Inc.) <br/>
							</p>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>