
@media (max-width: 1500px) {
	.project-post {
		width: 33.3%;
	}

	.profile-section-content {
		width: 55%;
	}

	.my-photo-profile {
		width: 45%;
	}

	.blog-masonry .blog-post {
		width: 33.3%;
	}
}

@media (max-width: 1279px) {
	.project-post {
		width: 49.98%;
	}

	.blog-masonry .blog-post {
		width: 49.98%;
	}

	header {
		max-width: 250px;
	}

	#content {
		padding-left: 250px;
	}

	header.out-active {
	    margin-left: -190px;
	}

	ul.menu {
		padding-left: 38px;
	}

	.header-foot {
		width: 250px;
	}

	.profile-section-content {
		width: 100%;
		float: none;
	}

	.my-photo-profile {
		width: 100%;
		float: none;
		margin-top: 20px;
	}

	.my-photo-profile img {
		margin-left: 0;
	}

	.services-post a.services-icon {
		display: inline-block;
		width: 60px;
		height: 60px;
	}

	.services-post a.services-icon i {
		line-height: 60px;
		font-size: 30px;
	}

	.services-post h3 {
		font-size: 16px;
	}

	.services-page .services-post p {
		font-size: 13px;
	}

	.services-post a {
		font-size: 13px;
	}

	.contact-box {
	    width: 260px;
	    padding: 120px 30px 0;
	}

	.map-container {
	    margin-left: 260px;
	}
}

@media (max-width: 1024px) {
	header {
	    float: none;
	    text-align: center;
	    width: 100%;
	    max-width: 100%;
	    height: auto !important;
	    min-height: inherit !important;
	}

	.project-post {
	    width: 49.98%;
	}

	ul.depth {
		margin-left: 0;
	}

	ul.dropdown {
		position: relative;
		text-align: center;
		top: inherit;
		left: inherit;
		width: auto;
	    visibility: visible;
	    opacity: 1;
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		transform: rotateY(0deg);
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s;
		-mos-transition: -mos-transform 0.4s, opacity 0.1s;
		-o-transition: -o-transform 0.4s, opacity 0.1s;
		transition: transform 0.4s, opacity 0.1s;
	}

	ul.dropdown li a {
		display: inline-block;
	}

	ul.menu {
		padding-top: 20px;
		height: auto;
		min-height: inherit;
		max-height: 200px;
		overflow-y: scroll;
		padding-left: 0;
		text-align: center !important;
	}

	ul.menu li.drop:after {
		display: none !important;
	}

	ul.menu > li {
		text-align: center;
	}

	ul.menu > li a {
		padding: 8px 40px !important;
	}

	.header-foot {
		position: relative;
		width: 100%;
	}

	#content {
		padding-left: 0px;
	}

	a.hide-menu,
	.show-menu {
		display: none !important;
	}

	a.elemadded {
		display: block;
	}

	.copyright-box {
		display: none;
	}

	.logo-box {
		min-height: inherit;
		padding: 20px 0;
	}

	.menu-box {
		display: none;
	}

	.header-foot {
		padding: 20px 0;
	}

	ul.social-icons {
		margin: 0;
	}

	.team-post {
		margin-bottom: 30px;
	}

	.skills-section {
		margin-bottom: 30px;
	}

	.certification-section {
		margin-bottom: 30px;
	}

}

@media (max-width: 767px) {
	.project-post {
	    width: 100%;
	}

	.blog-masonry .blog-post {
		width: 100%;
	}

	.contact-box {
		float: none;
		padding: 30px;
	    width: 100%;
	}

	.map-container {
		float: none;
	   	margin-left: 0;
	}
}